/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */

body {
    background-color: black;

}

p {
    color: white;
    font-size: 2em;
}

#video-placeholder {
    width: 100%;
    margin-top: 5em;
}



/*Glow van de tekst voice1 bron: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_glowing_text*/

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #96E0E2, 0 0 10px #96E0E2, 0 0 10px #96E0E2, 0 0 10px #96E0E2, 0 0 10px #96E0E2;
    }
    to {
        text-shadow: 0 0 12px #fff, 0 0 12px #96E0E2, 0 0 12px #96E0E2, 0 0 12px #96E0E2, 0 0 12px #96E0E2, 0 0 12px #96E0E2, 0 0 12px #96E0E2;
    }
}

.voice1 {
    text-shadow: 2px 2px green;
    position: relative;
    left: 5em;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

/*Vrager tekst naar links*/

.voice1.p0 {
    font-family: brenner mono;
    font-size: 1.5em;
}


.sound14 .voice1 {
    position: relative;
    left: -200px;
}


/*K tekst naar Rechts*/
.sound7 .voice2 {
    position: relative;
    left: 200px;
}

.voice2.p9 {
    animation: text-blur-out 0.5s ease;
}

.voice2.p11 {
    animation: text-blur-out 0.5s ease;
}

@keyframes text-blur-out {
    from {
        filter: blur(0);
    }
    to {
        filter: blur(12px);
    }
}

/*K blur tekst WAAROM PAKT HIJ DIT NIET??*/
.voice2 {
    font-family: Brenner Sans Condensed;
    position: relative;
    right: 10em;
}


@keyframes text-blur-out {
    0% {
        filter: blur(0);
    }
    100% {
        filter: blur(12px);
    }
}



/*Fuck off skin-job!*/

.voice3 {
    position: relative;
    bottom: 25em;
    right: 5em;
    transition: 1.5s ease-out;
    color: white;
    font-family: Brenner Sans Regular;
    font-size: 1em;
}

.voice3.p6.off {
    transition-timing-function: ease-out;

}


#closed-captions p {
    opacity: 0;
    transition: .05s;
    position: absolute;
    width: 100%;
    text-align: center;
}

#closed-captions .on {
    opacity: 1;
}

#closed-captions .off {
    transition: .1s;
    opacity: 0;
}


/* **********************************************
The first paragraph, with extended timing for
    all siblings. Basically what it does is that
    it shows the text after a delay, which
    corresponds with the time that the word is
    spoken.
You probably want to change the styling.
********************************************** */


/*elke p staat voor paragraaf*/


/*elke span is een woord*/

.p0 span {
    opacity: 0;
    font-family: "brenner mono";
}

.p0.on span:first-of-type {
    opacity: 1;
    transition: 0s;
    font-weight: 200;
    font-family: "brenner mono";
}

.p0.on span:nth-of-type(2) {
    opacity: 1;
    transition: 0s .4s;
    margin-right: -.25em;
    font-weight: 400;
    font-family: "brenner mono";
}

.p0.on span:nth-of-type(3) {
    opacity: 1;
    transition: 0s .5s;
    margin-right: -.25em;
    font-weight: 600;
    font-family: "brenner mono";
}

.p0.on span:nth-of-type(4) {
    opacity: 1;
    transition: 0s .7s;
    margin-right: -.25em;
    font-weight: 800;
    font-family: "brenner mono";
}

.p0.on span:nth-of-type(5) {
    opacity: 1;
    transition: 0s 1.1s;
    margin-right: -.25em;
    font-family: "brenner mono";
}

.p0.on span:nth-of-type(6) {
    opacity: 1;
    transition: 0s 1.4s;
    margin-right: -.25em;
    font-family: "brenner mono";
}

.p0.on span:nth-of-type(7) {
    opacity: 1;
    transition: 0s 1.7s;
    margin-right: -.25em;
    font-family: "brenner mono";
}

.p0.on span:nth-of-type(8) {
    opacity: 1;
    transition: 0s 2s;
    font-family: "brenner mono";
}

.p0.on span:nth-of-type(9) {
    opacity: 1;
    transition: 0s 3s;
    font-family: "brenner mono";
}

.p0.on span:nth-of-type(10) {
    opacity: 1;
    transition: 0s 3.2s;
    font-family: "brenner mono";
}

.p0.on span:nth-of-type(11) {
    opacity: 1;
    transition: 0s 3.7s;
    font-family: "brenner mono";
}


/*Animatie tijden bepaalde secondes van de film*/


/*.body .sound0 .bg-pan-top {
    -webkit-animation: bg-pan-top 8s both;
            animation: bg-pan-top 8s both;
}

@-webkit-keyframes bg-pan-top {
  0% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@keyframes bg-pan-top {
  0% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

*/

/*Rode kleur bij piepgeluid*/

@keyframes colorchange {
    0% {
        background: black;
    }
    50% {
        background: darkred;
    }

    50% {
        background: black;
    }
}

@keyframes colorchange {
    0% {
        background: black;
    }
    100% {
        background: darkred;
    }
}

/*BAss music omschrijving*/


.sound0 #closed-captions:before{
    content: "[Exciting bass music]";
    color: white;
    width: 4em;
    animation: fadeOut 5s forwards;
    font-family: brenner light italic;
    position: relative;
    bottom: 6em;
    left: 40em;
}

.sound0 #video-placeholder {
    background-color: 20px #96E0E2;
}

/*
.sound1 #closed-captions:before{
    content: "[Alarming sounds]";
    animation: fadeOut 5s forwards;
    color: white;
    width: 10em;
    font-family: brenner light italic;
    position: relative;
    bottom: 6em;
    left: 40em;
}*/


.sound1, .sound1 #closed-captions:before {
    content: "[Alarming sounds]";
    animation: fadeOut 5s forwards;
    background-blend-mode: color-burn;
    box-shadow: red;
    filter: brightness(300%);
    animation: wiggle 1s ease;
    animation: colorchange 1s ease-out;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.sound2 {
    background-color: black;
    filter: none;
}


.sound3 {
    background-color: orangered;
    filter: brightness(300%);
    animation: wiggle 1s;
    animation: colorchange2 1s ease-out;
}

@keyframes wiggle {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

@keyframes colorchange2 {
    0% {
        background: black;
    }
    50% {
        background: orangered;
    }

    100% {
        background: black;
    }
}


.sound4 {
    background-color: black;
    filter: none;
}


/*Invert filter bij piepscangeluidjes*/
/*scan1 geluid 0.17*/
.sound7
{    filter: invert(100%);
    background-color: white;

}

.sound7 #closed-captions:before
{
    content: "[Laser machine scan sounds]";
    color: white;
    animation: fadeOut 2s forwards;
}


.sound8 {
    background-color: black;
    filter: none;
}

/*scan2 geluid*/
.sound11 {
    filter: invert(100%);
    background-color: white;

}

.sound11 #closed-captions:before {
    content: "[Laser machine scan sounds]";
    color: white;
    animation: fadeOut 2s forwards;

}

/*scan3 geluid*/
.sound12 {
    background-color: black;
    filter: none;
}

.sound14 {
    background-color: white;
    filter: invert(100%);

}

.sound14 #closed-captions:before {
    content: "[Laser machine scan sounds]";
    color: white;
    animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/*0.33*/
.sound15 {
    background-color: black;
    filter: none;
}

.sound15 #video-placeholder {
    animation: zoomin 42s;

}

.sound18 {
    background-color: #BDC1AC;
}

.sound19 #video-placeholder {
    animation: zoomin 10s ease;
}

@keyframes zoomin {

   0 {
        transform: scale(1);
    }

    100% {
        transform: scale(1.5);
    }
}



/*Trilling in vrager zijn stem*/


/*hue filter bij dreadfully distinct*/



/*"dark "dark*/

.sound21 {
    background-color: black;
    filter: none;
}

.sound21 #closed-captions:before{
    content: "[Intens threatening music]";
    color: black;


}


/*computer van mevrouw scan*/

.sound21 {
    background-color: black;
    filter: hue-rotate(90deg);
}

.sound22 {
    background-color: black;
    filter: none;
}



/*three times withtin cells interlinked*/

.voice2.p42 {
    position: relative;
    bottom: 3em;
}

.voice2.p43 {
    position: relative;
    bottom: 2em;
}

.voice4 {
    font-family: brenner regular;
    font-size: 1.5em;
    position: relative;
    bottom: 10em;
}

/*You're not even close to baseline*/
.voice1.p79 {
    left: 0.5em;
}

/*probeer video een border te geven?*/

body .sound0 sound1 #video-placeholder {
    border: red 2em;
}

3.8 {
    font-family: Brenner Mono Regular;
}
